# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

Here is a list of popular languages for Data Science:

* Python
* Julia 
* C/C++
* SQL
* Matlab

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 

1. Pandas
2. PyTorch 
3. SciPy

Here are three development environment open source tools used in data science:

| Data Science Tools | 
| ------ | 
| Jupyter Notebooks | 
| R Studio's | 
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving [dividing] by 60

In [2]:
200/60

3.3333333333333335

## Author

Name: Nazanin Bahmani